version: "3.8"

services:
  postgres:
    image: postgres:14
    environment:
      - POSTGRES_PASSWORD=postgres
    volumes:
      - ./testdata.sql:/docker-entrypoint-initdb.d/testdata.sql
    ports:
      - 5432:5432
